<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm py-3">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/home">
      <img src="images/Aidea logo.png" alt="" class="logo me-2" />
      AIDEA
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services" routerLinkActive="active"
            >Services</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses" routerLinkActive="active"
            >Courses</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active"
            >About Us</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active"
            >Contact</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="btn btn-primary ms-lg-3"
            routerLink="/login"
            routerLinkActive="active"
            >Sign Up / Login</a
          >
        </li> -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="profileDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            My Profile
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="profileDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                routerLink="/dashboard/progress"
                routerLinkActive="active"
                >Dashboard</a
              >
            </li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="main">
  <router-outlet></router-outlet>
</div>


